<header class="relative border-b-2 md:border-b-[3px] border-primary">
  <div class="flex justify-between items-center py-6 container px-3 md:px-0">
    <div class="flex items-center">
      <a class="flex items-center" href="./index.html">
        <img class="w-[39px] md:w-[53px]"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="logo">
        <h1 class="text-3xl ms-4 hidden md:block">7TAO</h1>
        <p class="ms-1 hidden md:block shrink-0">活動訂票網</p>
      </a>

      <div class="flex h-[40px] md:h-[55px] ms-6 lg:ms-12">
        <input type="search"
          class="font-sans bg-transparent border-2 border-solid border-primary px-6 w-full shrink focus:ring-0 focus:shadow-none focus:outline-none focus:border-primary"
          placeholder="探索活動" aria-label="Search" />
        <button type="button" class="bg-primary text-yellow p-2 md:p-4">
          <i class="icofont-search-1"></i>
        </button>
      </div>
    </div>

    <ul class="hidden md:flex">
      <li>
        <a class="flex items-center hover:text-olive" href="#">
          <i class="icofont-file-text me-1"></i>
          REGISTER
        </a>
      </li>
      <li class="ms-3 lg:ms-6">
        <a class="flex items-center hover:text-olive" href="./login.html">
          <i class="icofont-ui-user me-1"></i>
          LOGIN
        </a>
      </li>
    </ul>
    <div id="menubtn"
      class="block md:hidden px-3 md:px-4 py-2 md:py-3 space-y-2 rounded border border-primary cursor-pointer ms-6">
      <span class="block w-6 h-0.5 bg-primary"></span>
      <span class="block w-6 h-0.5 bg-primary"></span>
      <span class="block w-6 h-0.5 bg-primary"></span>
    </div>
  </div>
  <div id="menu"
    class="absolute top-full mt-[2px] h-0 w-full transition-all ease-out duration-700 overflow-hidden bg-[#f3f1e5] z-10">
    <ul class="flex flex-col border-b-2 border-primary py-6 px-3">
      <li>
        <a class="text-lg" href="./" title="REGISTER">
          <i class="icofont-file-text me-1"></i>
          REGISTER</a>
      </li>
      <li class="mt-4">
        <a class="text-lg" href="./login.html" title="LOGIN"><i class="icofont-ui-user me-1"></i>LOGIN</a>
      </li>
    </ul>
  </div>
</header>